@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #f8fafc;
  --foreground: #1e293b;
  --surface-dark: #0f172a;
  --accent: #3b82f6;
}

.dark {
  --background: #0f172a;
  --foreground: #f1f5f9;
  --surface-dark: #1e293b;
  --accent: #60a5fa;
}

@theme inline {
  --background: var(--background);
  --foreground: var(--text-primary);
  --surface-dark: var(--surface-dark);
  --accent: var(--accent);
  --font-work-sans: var(--font-work-sans);
}

body {
  background: var(--background);
  color: var(--foreground);
}
