@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #f5f5f2;
  --foreground: #2f2f2f;
  --surface-dark: #1f1f1f;
  --accent: #bba67d;
}

.dark {
  --background: #121212;
  --foreground: #f0f0eb;
  --surface-dark: #1c1c1c;
  --accent: #d1bd90;
}

@theme inline {
  --background: var(--background);
  --foreground: var(--text-primary);
  --surface-dark: var(--surface-dark);
  --accent: var(--accent);
  --font-work-sans: var(--font-work-sans);
}

body {
  background: var(--background);
  color: var(--foreground);
}
